body{
	background-color: #ccddff;
	margin:0;
	padding:0;
}
.container-fluid{
	width:100%;
	height:100%;
 background-color: #A6a6a6;
 min-width:800px;
}
.cabecalho{
	
	width:98%;
	height:36px;
	background:url(menu.png);
	z-index: 1;
	position:fixed;
	border-bottom: 1px solid #1a66ff;
	min-width:98%;
	min-height: 36px;
}
nav{
	width:100%;
	float: left;
	margin:auto 32%;
	padding-top: 1px;
	min-width:600px;
}
li{
	float: left;
	list-style: none;
	padding-left:10px;
	padding-right:11px;
	font-family: Yu Gothic;
	font-size: 1.8em;
	color: white;

}li:hover{
	background-color:rgba(171,171,171,0.5);
	color :black;
}
.logo{
	width:90px;
	height:90px;
	background:url(logooo.png);
	position: absolute;
	margin-left:25px;
	margin-top:-12px;

}
.Sobrepor{
	z-index:0;
	 min-width:800px;
}.INICIO{
	width:98%;
	height:100%;
	background-color: #809ff2;
	position: absolute;
}
.slide{
	width:95%;
	height:80%;
	background:url(SLIDE.PNG);
	margin: auto 2.5%;
	margin-top: 5%;
	min-width:300px;
	min-height:400px; 
	border:1px solid black;
}.Sc{
	margin-top: 18%;
	margin-left: 42%;
	position: absolute;
	min-width:300px;
	min-height:400px; 
}.SOBRE{
	width:98%;
	height:100%;
	margin-top:50%;
	background-color: #668cff;
	position: absolute;
}.SOBRE-T{
	width:300px;
	height:120px;
	background:url(barrinha.png);
	position:absolute;
	margin-left:500px;
	margin-top:-35px;
}
h1{
	font-size: 1.6em;
	color: white;
	padding-top: 4px;
}
.SobreE{
	margin-top:5px;
	position: absolute;
	margin-top:45px;
	margin-left:118px;
	font-family: Segoe Script;
	font-size:18px;
}.Btext{
	width:600px;
	height:500px;
	background: url(bloco.png);
	position: absolute;
	margin-top:70px;
	margin-left:40px;
}.imgs{
	width:400px;
	height:400px;
	text-shadow:20px 20px 5px black;
	margin-top:120px;
	margin-left: 800px;
}.imgs:hover{
	text-shadow:3px 3px 5px black;
}.textb{
	margin-left:380px;
	margin-top:70px; 
}
.PRODUTOS{
	width:98%;
	height:100%;
	margin-top:100%;
	background-color: #668cff;
	position: absolute;
}.PRODUTOS-T{
	width:300px;
	height:120px;
	background:url(barrinha.png);
	position:absolute;
	margin-left:500px;
	margin-top:-35px;
}
.ProdutosS{
	margin-top:5px;
	position: absolute;
	margin-top:45px;
	margin-left:118px;
	font-family: Segoe Script;
	font-size:18px;
}
.CONTATO{
	width:98%;
	height:100%;
	margin-top:150%;
	background-color: #668cff;
	position: absolute;
}.CONTATO-T{
	width:300px;
	height:120px;
	background:url(barrinha.png);
	position:absolute;
	margin-left:500px;
	margin-top:-35px;
}
.ContatoO{
	margin-top:5px;
	position: absolute;
	margin-top:45px;
	margin-left:118px;
	font-family: Segoe Script;
	font-size:18px;
}